[include]
	path = .gitconfig.user
[color]
	ui = auto
[alias]
	co = checkout
  fo = fetch origin
	g = log --all --graph --date=short --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
	s = status
	pom = push origin master
	unstage = reset HEAD --
[core]
	autocrlf = input
	editor = nvim
[ghq]
	root = ~/go/src
[user]
	email = kojinho10@gmail.com
	name = kjnh10
[credential]
	helper = cache
